<footer id="cs-footer-104">
    <div class="cs-container">
        <ul class="cs-ul">
            <li class="cs-li">
                <a href="#services-1167" class="cs-link">Overview</a>
            </li>
            <li class="cs-li">
                <a href="#why-choose-1821" class="cs-link">Features</a>
            </li>
            <li class="cs-li">
                <a href="#steps-1674" class="cs-link">Setup Guide</a>
            </li>
            <li class="cs-li">
                <a href="#reviews-484" class="cs-link">Reviews</a>
            </li>
            <li class="cs-li">
                <a href="#faq-1458" class="cs-link">FAQ</a>
            </li>
            <!-- <li class="cs-li">
                <a href="/blog" class="cs-link">Blog</a>
            </li> -->
        </ul>
        <span class="cs-copyright">© 2025 All Rights Reserved</span>
    </div>
</footer>