# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/

# Node modules
node_modules/

# System files
.DS_Store
.env
*.log

# IDE files
.idea/
.vscode/
.cache
public
.prettierrc