{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            {% if title %}"headline": "{{ title }}",{% endif %}
            {% if image %}
                "image": ["{{ image }}"],
            {% endif %}
            {% if date %}"datePublished": "{{ date | postDate }}",{% endif %}
            {% if client.name %}
                "publisher": {
                    "@type": "Organization",
                    "name": "{{ client.name }}"
                },
            {% endif %}
            {% if author %}
                "author": [
                    {
                        "@type": "Person",
                        "name": "{{ author }}"
                    }
                ],
            {% endif %}
            {% if description %}"articleBody": "{{ description | safe }}",{% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if tags %}"articleSection": "{{ tags }}"{% endif %}
        }
    </script>
{% endblock %}

{% block body %}


    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article">
                <!--Main Article Image-->
                <picture class="blog-mainImage">
                    <img src="{{ image }}" alt="{{ imageAlt }}" width="795" height="400" decoding="async"/>
                </picture>

                <!--Article Info-->
                <div class="article-group">
                    <h1 class="blog-h1">{{ title }}</h1>
                    
                </div>
                <section id="blog-content">
                    {{ content | safe }}
                </section>
            </article>
        </div>
        <!-- End .main-content -->

    </div>
{% endblock %}